[submodule "libedgetpu"]
  path = libedgetpu
  url = https://pycoral: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@github.com/oberluz/libedgetpu
[submodule "test_data"]
  path = test_data
  url = https://github.com/google-coral/test_data
[submodule "libcoral"]
  path = libcoral
  url = https://pycoral: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@github.com/oberluz/libcoral
