Source: libedgetpu
Maintainer: Coral <coral-support@google.com>
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://coral.ai/

Package: libedgetpu1-std
Provides: libedgetpu1 (= ${binary:Version})
Conflicts: libedgetpu1, libedgetpu1-legacy
Section: misc
Priority: optional
Architecture: any
Multi-Arch: same
Depends: libc6,
         libgcc1,
         libstdc++6,
         libusb-1.0-0,
         ${misc:Depends}
Description: Support library for Edge TPU
 Support library (standard speed) for the Edge TPU

Package: libedgetpu1-max
Provides: libedgetpu1 (= ${binary:Version})
Conflicts: libedgetpu1, libedgetpu1-legacy
Section: misc
Priority: optional
Architecture: any
Multi-Arch: same
Depends: libc6,
         libgcc1,
         libstdc++6,
         libusb-1.0-0,
         ${misc:Depends}
Description: Support library for Edge TPU
 Support library (max speed) for the Edge TPU

Package:libedgetpu-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libedgetpu1-std (= ${binary:Version}) | libedgetpu1 (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for libedgetpu
 This package contains C++ Header files for libedgetpu.so
